.App {
  background-color: black;
  color: 'white';
  min-height: 100vh;
}
.App::-webkit-scrollbar {
  display: none;
}


.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 100px;
  padding-left: 3vw;
  padding-right: 3vw;
  
}

