.about_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding-top: 100px;
    
    .circle{
        margin: 5vw;
        width: 50vw;
        height: 20vw;
        min-width: 100px;
        min-height: 100px;
        max-width: 400px; /* 최대 너비 제한 */
        max-height: 400px; /* 최대 높이 제한 */
        border-radius: 100%;
        background-color: rgb(11,37,60);

        #about_title{
            font-size: clamp(15px, 5vw, 60px);
            font-weight: bold;
        }
        p{
            font-size: clamp(15px, 3vw, 68px);
            text-align: center;
            font-family: "Lato", sans-serif;
            
            
        }
        h2{
            text-align: center;
        }
    }
}