.photos_container{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 15vh;
    overflow: hidden;
    
    .show{
        display: flex;
        flex-direction: row;
        width:100vw;
        animation: slide 30s linear infinite;
        
    }
    .index{
        flex-shrink: 0;
        img{
            width: 20vw;
            height: 30vw;
            max-width:400px;
            max-height: 250px;
            min-width: 100px;
            // flex-shrink: 0; //구역 안에 생기는 영역들이 공간을 분배하여 가지지 않도록 적용
            margin: 0 0.5vw;
        }
    }
}
@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}