.study_container{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    padding-top: 100px;
    // font-family: "Helvetica", sans-serif;
    font-size: clamp(7px,3vw,30px);
    img{
        width: 30vw;
        max-width:300px ;
        height: 30vw;
        max-height: 250px;
    }
    a{
        text-decoration: none;
        color: white;
        .bi-arrow-right-circle{
            min-width: 24px; 
            min-height: 24px;
            max-width: 48px; 
            max-height: 48px;
        }
        
    }
    p{
        font-weight: bold;
    }
}